{% extends "index1.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content%}

<script src="{%   static 'Chartjs/dist/chart.js' %}"></script>



<div class="card-body">
    <div class="tab-content" id="custom-tabs-one-tabContent">
        <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel"
            aria-labelledby="custom-tabs-one-home-tab">



            <div class="row">
                <div class="col-sm-2 col-md-2">
                </div>
                <div class="col-sm-8 col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h4>Cast Your Ballot Here</h4>
                            <div class="card-body">
                            
                                <canvas id="myChart" width="400" height="400"></canvas>

                            
                
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2">
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    
    </script>

{% endblock content %}