{% extends "index1.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content%}


<div class="card">
    <div class="card-header">
        <h1 class="text-center">Cast Your Ballot Here</h1>
        <div class="card-body">
            



                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                        </div>
                        <div class="col-sm-8 col-md-8">
                            <div class="card">
                                <div class="card-header bg-primary">
                                    {% if candidates_data %}
                                    <h4 class="text-center">For House of Peoples' Representatives</h4>
                                </div>
                                <div class="card-body " >

                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Candiddate Name </th>
                                                <th>Photo</th>
                                                <th>Party</th>
                                                <th>Party Logo</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for candidate in candidates_data %}

                                            <tr>
                                                <td> {{ forloop.counter }}</td>
                                                <td> {{ candidate.candidate_name }}</td>
                                                <td> <img src=" {{ candidate.candidate_photo.url }}" height="80"
                                                        width="80"> </td>
                                                <td> {% if candidate.candidate_type == 'Personal' %} Personal
                                                    Candidate {% else %} {{candidate.party }} {% endif %} </td>
                                                <td> <img src=" {{ candidate.party_image.url }} " height="80" width="80"
                                                        class="img-circle"> </td>
                                                <td> <input type="checkbox" id="HPR_candidates" name="HPR_candidates"
                                                        value=" {{ candidate.id }} "> </td>

                                            </tr>

                                            {% endfor %}
                                        </tbody>

                                    </table>
                                    <br>
                                    <form>
                                        <input type="submit" value="VOTE">
                                    </form>
                                    {% endif %}





                                </div>

                            </div>
                            <div class="col-sm-2 col-md-2">
                            </div>
                        </div>
                    </div>
             <br>  <hr> <br>

                <div class="row">
                    <div class="col-sm-2 col-md-2">
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <div class="card">
                            <div class="card-header bg-info">
                                {% if candidates_data %}
                                <h4 class="text-center ">For Regional Goverment Council</h4>
                            </div>
                            <div class="card-body">

                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Candiddate Name </th>
                                            <th>Photo</th>
                                            <th>Party</th>
                                            <th>Party Logo</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for candidate in candidates_data %}

                                        <tr>
                                            <td> {{ forloop.counter }}</td>
                                            <td> {{ candidate.candidate_name }}</td>
                                            <td> <img src=" {{ candidate.candidate_photo.url }}" height="80" width="80">
                                            </td>
                                            <td> {% if candidate.candidate_type == 'Personal' %}
                                                Personal Candidate {% else %} {{candidate.party }}
                                                {% endif %} </td>
                                            <td> <img src=" {{ candidate.party_image.url }} " height="80" width="80"
                                                    class="img-circle"> </td>
                                            <td> <input type="checkbox" id="HPR_candidates" name="HPR_candidates"
                                                    value=" {{ candidate.id }} ">
                                            </td>

                                        </tr>

                                        {% endfor %}
                                    </tbody>

                                </table>
                                <br>
                                <form>
                                    <input type="submit" value="VOTE">
                                </form>
                                {% endif %}


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock content %}