{% extends "index1.html" %}

{% block content%}



    <!-- Main content -->
    <div class=" content-wrapper">



<div >  
  <div class="col-sm-2 col-md-2">
                    </div>
                    <div class="col-sm-8 col-md-8">
    <div class="card">
        <div class="card-header">
            <h4>Vote Verification</h4>
        </div>

        <!-- /.card-header -->
        <div class="card-body">
            <form action="{% url 'verify_vote_individually' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="search" placeholder="Type Your VRID here">
                <input type="submit" value="Verify">

            </form>
            <br>
            {% if verification_data %}
            {% for o in verification_data %}
<p>Hello {{ o.first_name }} {{ o.middle_name }},  you have voted at {{o.voted_at}} location on {{ o.voted_time }} for :</p>
<ul>
  {% for a in o.voted_to.all %}
  <li> {{ a }} </li>
  {% endfor %}
</ul>
</br>
<h3> Thank You For Voting! </h3>
            {% endfor %}

            {% elif method_is_get %}
                                <p> </p>

                                {% else %}
                                <p class="danger"> Sorry! No result Found.</p>


                                {%endif%}
</div>
    </div>
   

  </div>

</div>


  <!-- /.content-wrapper -->
{% endblock %}