{% extends "index1.html" %}

{% block content%}


<script type="text/javascript">

  window.onload = function () {
    // document.getElementById('region_dropdown').style.display = 'none';
    document.getElementById('hide_region_and_poll_stations').style.display = 'none';
    document.getElementById('verify_button').style.display = 'none';
    document.getElementById('regorpoll').style.display = 'none';
  }
  function randomorlocationcheck() {
    if (document.getElementById('bylocation').checked) {
      document.getElementById('regorpoll').style.display = 'block';
      document.getElementById('byregion').checked = false;
      document.getElementById('bypollingstation').checked = false;
      
      // document.getElementById('byregion').style.display = 'block';
      // document.getElementById('bypollingstation').style.display = 'block';
      document.getElementById('verify_button').style.display = 'block';


    }

    else if (document.getElementById('random').checked) {
      document.getElementById('regorpoll').style.display = 'none';
      document.getElementById('hide_region_and_poll_stations').style.display = 'none';

      // document.getElementById('byregion').style.display = 'none';
      // document.getElementById('bypollingstation').style.display = 'none';
      document.getElementById('verify_button').style.display = 'block';


    }
  }

  function byregion_or_bypollingstation() {
    if (document.getElementById('byregion').checked) {
      document.getElementById('hide_region_and_poll_stations').style.display = 'block';

      // document.getElementById('regions').style.display='block';
      // document.getElementById('polling_stations').style.display='none';
      document.getElementById('form2').style.display = 'block';
      document.getElementById('region_dropdown').style.display = 'block';
      document.getElementById('polling_station_dropdown').style.display = 'none';

    }
    if (document.getElementById('bypollingstation').checked) {
      // document.getElementById('regions').style.display='none';
      // document.getElementById('polling_stations').style.display='block';
      document.getElementById('hide_region_and_poll_stations').style.display = 'block';
      document.getElementById('form2').style.display = 'block';
      document.getElementById('polling_station_dropdown').style.display = 'block';
      document.getElementById('region_dropdown').style.display = 'none';

    }

  }



</script>



    <!-- Main content -->
    <div class=" content-wrapper">



      <div>
        <div class="col-sm-2 col-md-2">
                    </div>
                    <div class="col-sm-8 col-md-8">
          <div class="card">
            <div class="card-header">
              <h4>Verify Votes universally</h4>
            </div>

            <!-- /.card-header -->
            <div class="card-body">
              <form action="{% url 'verify_vote_universally' %}" method="POST">
              <div id="randorloc">
                <input type="radio" onclick="randomorlocationcheck();" id="random" name="randorloc_choice" value="Random">
                <label for="random">Random</label><br>
                <input type="radio" onclick="randomorlocationcheck();" id="bylocation" name="randorloc_choice"
                  value="bylocation">
                <label for="bylocation">By Location</label><br>
              </div>
              <div id="regorpoll">
                <input type="radio" onclick="byregion_or_bypollingstation();" id="byregion" name="location_type"
                  value="Verify by Region">
                <label for="byregion">Verify By Region</label><br>
                <input type="radio" onclick="byregion_or_bypollingstation();" id="bypollingstation" name="location_type"
                  value="Verify by Polling Station">
                <label for="bypollingstation">Verify By Polling Station</label> <br><br>
                <!-- <p> <span id="byreg"><input  type="radio" onclick="abc();" id="byregion" name="location_type"  />Verify by Region</span></p>
               <p> <span id="bypoll"><input type="radio"  id="bypollingstation"  name="location_type"  />Verify By Polling Station</span> </p> -->

              </div>

              <div>
                 <div id="form2">
                  <div id="hide_region_and_poll_stations">
                    {% csrf_token %}
                    <div id="region_dropdown">
                      <label for="regions">Choose Region:</label>
                      <select name="regions" id="regions">
                        {% if regions %}
                        {% for o in regions %}

                        <option value="{{ o }}"> {{o}}</option>
                        {% endfor %}
                      </select>
                      {% endif %}
                      <br><br>
                    </div>
                    <div id="polling_station_dropdown">
                      <label for="polling_stations">Choose Polling Station:</label>
                      <select name="polling_stations" id="polling_stations">
                        {% if polling_station %}
                        {% for o in polling_station %}

                        <option value="{{ o }}"> {{o}}</option>
                        {% endfor %}
                      </select>
                      {% endif %}
                      <br><br>

                    </div>
                  </div>
                  <input type="submit" value="Verify" id="verify_button">
                  </div>
                </form>

                {% if verification_data %}
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Voter Name</th>
                            <th>Voted To</th>
                            <th>Voted At</th>
                            <th>Voting Time</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        {% for o in verification_data %}

                        <tr>
                            <td> {{o.first_name}} {{o.middle_name}} {{o.last_name}}</td>
                            <td>
                              {% for a in o.voted_to.all %}
                                 {{ a }} |
                              {% endfor %}
                            </td>
                            <td> {{o.voted_at}}</td>
                            <td> {{o.voted_time}}</td>
                            

                        </tr>

                        {% endfor%}
                    </tbody>
                </table>


                {% elif method_is_get %}
                <p> </p>

                {% else %}
                <p class="danger"> Sorry! No result Found in verification_data.</p>


                {%endif%}


                {% if byregion_verification_data %}
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Voter Name</th>
                            <th>Voted To</th>
                            <th>Voted At(Polling station)</th>
                            <th>In Region</th>
                            <th>Voting Time</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        {% for o in byregion_verification_data %}

                        <tr>
                            <td> {{o.first_name}} {{o.middle_name}} {{o.last_name}}</td>
                            <td> 
                              {% for a in o.voted_to.all %}
                              {{ a }} |
                           {% endfor %}
                            </td>
                            <td> {{o.voted_at}}</td>
                            <td> {{region_name}}</td>
                            <td> {{o.voted_time}}</td>
                            

                        </tr>

                        {% endfor%}
                    </tbody>
                </table>


                {% elif method_is_get %}
                <p> </p>

                {% else %}
                <p class="danger"> Sorry! No result Found. in byregion_verification_data</p>


                {%endif%}






              </div>
</div>
              <br>
            </div>
          </div>


        </div>


</div>

        <!-- /.content-wrapper -->
        


        {% endblock %}