{% extends "index1.html" %}
{% load static %}

{% block content%}

<div class="card card-primary card-tabs">
    <div class="card-header p-0 pt-1">
        <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link {% if var == 'v' %} active {% endif %}" id="custom-tabs-one-profile-tab"
                    href="{%  url 'view_party' %}" role="tab" aria-controls="custom-tabs-one-profile">View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if var == 'r' %} active {% endif %}" id="custom-tabs-one-home-tab"
                    href="{%  url 'register_party' %}" role="tab" aria-controls="custom-tabs-one-home">Register</a>
            </li>
            <!-- <li class="nav-item">
          <a class="nav-link {% if var == 'u' %} active {% endif %}" id="custom-tabs-one-messages-tab" href=""
            role="tab" aria-controls="custom-tabs-one-messages" >Update</a>
        </li> -->
            <!-- <li class="nav-item">
          <a class="nav-link {% if var == 'd' %} active {% endif %}" id="custom-tabs-one-settings-tab" href=""
            role="tab" aria-controls="custom-tabs-one-settings" >Delete</a>
        </li> -->
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="custom-tabs-one-tabContent">
            <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel"
                aria-labelledby="custom-tabs-one-home-tab">

                <div class="row">

                    <div class="col-sm-12 col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>View Party Info</h4>
                            </div>

                            <!-- /.card-header -->
                            <div class="card-body">
                                <form action="{% url 'view_party' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="text" name="search" placeholder="Type a party name/id here">
                                    <input type="submit">
                                </form>
                                <br>


                                {%if party_data %}
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Party Name</th>
                                            <th>Party Type</th>
                                            <th>Registration Date</th>
                                            <th>Participation Region</th>
                                            <th>No of Canddidates</th>
                                            <th>Logo</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for o in party_data %}

                                        <tr>
                                            <td> {{o.party_name}}</td>
                                            <td> {{o.party_type}}</td>
                                            <td> {{o.party_registration_date}}</td>
                                            <td>  {%for region in  o.participation_regions.all  %}
                                             {{ region }} | 
                                            {% endfor %} </td>
                                            <td> {{o.candidate_number}}</td>
                                            <td> <img src=" {{ o.part_logo.url }}" height="60px" width="60px">  </td> 
                                            <td> {{o.party_status}}</td>
                                            <td> <a class="theme-link" href="{% url 'update_party' o.id %}"> Update</a>
                                            </td>
                                            <td> <a class="theme-link" onclick="return delete_party()"
                                                    href="{% url 'delete_party' o.id %}">Delete</a></td>



                                        </tr>

                                        {% endfor%}
                                    </tbody>
                                </table>


                                {% elif method_is_get %}
                                <p> </p>

                                {% else %}
                                <p class="danger"> Sorry! No result Found.</p>


                                {%endif%}



                            </div>
                        </div>
                    </div>


                    <script>
                        function delete_party() {
                            var x = confirm('Are you sure you want to delete this Entity');
                            if (x) return true;
                            else return false;
                        }
                    </script>

                    {% endblock content %}

                </div>
            </div>
        </div>
    </div>
</div>