{% extends "index1.html" %}

{% block content %}




    <!-- Main content -->
    <div class=" content-wrapper">



<div >  
  <h2 id="abc"> Currently registered Voters as of {% now "SHORT_DATETIME_FORMAT" %} is: </h2>
  <h1 id="voters-display"></h1> 

</div>
    </div>
   

  </div>



<script >
  $(document).ready(function(){

    setInterval(function(){

      $.ajax({
        type: 'GET',
        url : "{% url 'fetch_voter_data' %}",
        success : function(response){
          console.log('yiseral')
                  $("#voters-display").empty();
                  
                  // for(var key in response.data){
                  //   var temp= "<li>" + response.data[key].first_name + "</li>";
                  // $("#abc").append("Currently registered Voters as of "+ Date() + " is:");
                   
                  // $("#abc").append("Currently registered Voters as of  "+ Date(YYYY-MM-DDTHH:mm) + " is:");
                  $("#voters-display").append(response.data);
 

         document.getElementById("abc").innerHTML ="Currently registered Voters as of "+ Date()+" is:"

                 
                  // }
                    },
        error : function(response){
          console.log("can not read data /n (from java script)")
        }

      })

    }, 1000);
  });

</script>

{% endblock %}