{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/js/bootstrap.min.js' %}">
  <script src="{% static 'jquery-3.6.0.min.js'%}"></script>

  <title>NEBE E-voting System</title>
</head>

<body>
  <div class="container">
    <div class="row">

      <div class="col-sm-4">
        <p> blah blah efjwebriu weriruh cejwfhgceyuwgf cwehfgruwyg QFCIUEGWVNWR
          RJWEHVRUWEHRCB
        </p>
      </div>
      <div class=" col-sm-4">
        <h1> Welcome to NEBE's E-voting System</h1>
      </div>
      <div class=" col-sm-4">
        <p> Welcome to NEBE's E-voting System</p>
      </div>
    </div>


    <div class="row" style="background-color: black;">
      <!-- <div class="col-sm-3"></div> -->
      
      <div class="card col" style=" background-color: aqua;" >
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>  

      <div class="card text-center col" style=" background-color: bisque">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card text-end col" style="  background-color:brown">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
     
    </div>

  </div>
</body>

</html>